.box {
    width: 50%; 
    height: 250px;
    background-color: rgba(255, 255, 255, 0.58);
    border-radius: 12px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    margin: auto; 
    top: 20vh; 
}

.logo__name {
    position: absolute;
    top: 10px;
    left: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.img {
    height: 30px;
    margin-right: 8px;
}

.box__user {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Sen", sans-serif;
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: white;
}
