@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.Form{
  &__background{
  background-color: $background-bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  position: relative;
}
&__logo{
  position: absolute;
  top: 12%;
  left:8%;
  display: flex;
  width: 10%;
  &--text{
    font-family: $font-bold;
    font-size: 30px;
    font-weight: 600;
  }
}
&__main{
  width: 85%;
  height: 80vh;
  background-color: $white;
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap:10px;
}
&__user{
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:flex-start;
  width: 30%;
  background-color: $background-top;
  background-color: white;
  gap:5px;
&-name{
  font-family: $font-medium;
  font-size: 16px;
}
&-email{
  font-family: $font-medium;
  font-size:16px;
}
&-avatar{
  width:30px;
}
}
&__title{
  font-family: $font-medium;
  font-size: 16px;
}
&__form{
  margin-top: 100px;
  width:60%;
}
&__field{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-top:10px;
}
&__label{
  font-family: $font-medium;
  font-size: 12px;
}
&__textarea{
  height: 12vh;
  border-radius: 20px;
  background-color: $beige;
  border:none;
}
&__pencil{
  width:15px;
}
&__button{
  background-color: $brown-button;
  border-radius: 20px;
  border:none;
  width: 30%;
  height: 5vh;
  color: $white;
  margin-left:35%;
  margin-top: 20px;
}
}






