@use "./variables" as *;
@use "./mixins" as *;

// textbox font size - 14px
//autopilot title size - bold 36px

@font-face {
  font-family: "Sen Regular";
  src: url(/src/Assets/Font/Sen-Regular.ttf);
}

@font-face {
  font-family: "Sen Medium";
  src: url(/src/Assets/Font/Sen-Medium.ttf);
}

@font-face {
  font-family: "Sen Semi Bold";
  src: url(/src/assets/Fonts/Newsreader-Light.woff);
}

@font-face {
  font-family: "Sen Bold";
  src: url(/src/assets/Font/Sen-Bold.ttf);
}
