@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main{
    background: linear-gradient(180deg, rgba(193, 223, 246, 1) 0%, rgba(150, 49, 85, 0.52) 100%);
    height: 615px;
    position: relative;
}
.box__main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.58);;
    width: 50%;
    justify-content: center;
    height: 290px;
    top: 10%;
    left: 25%;
    color: white;
    border-radius: 38px;
}
.btn{
    position: relative;
    top: 15%;
}